// resets
body {
	margin: 0;
  color: $darkBlue;

	background-color: $mainBackground;
  overflow: hidden;
	overflow-y: scroll;


}

html {
	-webkit-text-size-adjust: 100%;

}

* {
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;

	&:focus {
		outline: none;
	}
}

// fonts
h1,
h2,
h3,
h4,
h5 {
	margin: 0 0 0.5rem 0;
	font-family: "Urbanist", sans-serif;
	font-weight: bold;
	line-height: 1;
}
p {
	margin: 0 0 0.5rem 0;
}

h1 {
	font-size: 3.4rem;
}

h2 {
	font-size: 2.0rem;
}

h3 {
	font-size: 1.6rem;
}

h4 {
	font-size: 1.4rem;
}

h5 {
	font-size: 1.2rem;
}

p {
	line-height: 1.8;
}

form {
	label {
		display: block;
		font-size: 16px;
		margin-bottom: 0.5rem;
	}

	.input {
		display: block;
		width: 100%;
		outline: 0;
		

  	margin: 0px;
  	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;  

    border: none;
    border: 1px solid $e4;
    padding: 10px;
    outline: none;
    resize: none;
    color: inherit;
    font-size: 16px;
		background: $white; 
		transition: all 0.15s;

		border-radius: 4px;

		&:focus {
			border: 1px solid $green;
		}

		&:active {
			border: 1px solid $green;
		}
	}

	textarea {
		resize: none;
		border: 1px solid $e4;
		border-radius: 4px;
		outline: 0;
		height: 100px;
		width: 100%;
		padding: 10px;
		font-size: 16px;
		background: $white;
		&::placeholder {
			color: $grey;  
		}

		&:focus {
			border: 1px solid $green;
		}

		&:active {
			border: 1px solid $green;
		}
	}
}
