// imports
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
// colors
$red: #F94E1E;
$yellow: #ffc71e;
$green: #009242;
$lightBlue: #1A6AE3;
$blue: #14234b;
$darkBlue: #0a1233;
$grey: #80868b;
$darkGrey: #585251;
$e4: #e4e4e4;
$mainBackground: #F9F9F9;
$white: #fcfcfc;
$paper: #F7F6F3;
